.panorama {
  position: relative;
  width: 100%;
}
.panorama img {
  /* width: auto;
  height: 25vw;
  display: block; */
}

.panorama {
  position: relative;
  width: 100%;

  overflow: visible;
}

main {
  padding: 20px;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
}
