.panorama {
  position: relative;
  width: 100%;
}
.panorama img {
  width: 90vw;
  height: auto;
  display: block;
}

.panorama {
  position: relative;
  width: 100%;

  overflow: visible;
}

main {
  margin-top: 200px;
  padding: 20px;
  display: flex;

  position: relative;
}
