
@import "panorama.css";
@import "pop-up.css";
@import "x-y.css";
@import "omschrijving.css";
@import 'includes/header.css';
@import 'includes/start.css';
@import 'includes/inlog.css';
@import 'includes/footer.css';
body {
    margin:0;
    padding:0;
    background-color: #F6F6F6;
}





