header {
    background-color: rgb(255, 255, 255);
    height: 100px;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    margin-top: 30px;
    height: 130px;
    margin-left: 100px;
}

.container{
    display: flex;
    justify-content: left;
    color: white;
}

.nav {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    gap: 50px;
    padding-left: 0px;
    padding-bottom: 50px;
    flex-wrap: wrap;
    font-family: Arial, sans-serif;
}

.search-bar img{
    width: 30px;
    height: 30px;
    padding-left: 20px;
    padding-top: 20px;
}

.search-bar {
    margin-right: 200px;
    width: 70px;
    height: 70px;
    background-color: #288074;
    margin-left: 150px;
    margin-top: 30px;
}

.nav a {
    height: 100px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

.nav a:hover {
    transition: 1s;
    text-decoration: underline;
}

.search-bar {
    display: none;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #FF2C2C;
}

.search-bar form {
    display: inline-flex;
    gap: 10px;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 10px;
    border: 2px solid #FF2C2C;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
}

.search-bar button {
    padding: 10px 20px;
    background-color: #FF2C2C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.search-bar button:hover {
    background-color: #cc0000;
}
