.start {
    padding: 100px;
    background-color: #F6F6F6;
}

.kaart {
    background-image: url('../../img/start.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 480px;
    padding: 50px;
    margin: 50px;
    position: relative;
}

.start-tekst {
    color : white;
    font-size: 24px;
    text-align: center;
    
}
